h1 {
    text-align: center;
    padding-top: 50px;
}

h2 { 
    text-align: center;
    margin-top: 20px;
}

.card-label {
    text-align: center;
}
.card-body {

    margin-top: 50px;
    background-color: grey;
    border-radius: 15px;
}

/* Big container/Parent */
.cards-flex-container {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
  
  /* Little container/Child */
.cards-flex-container > div {
    background-color: #9794a7;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    font-size: 30px;
    
}

.buttons-flex-container {
    display: flex;
    justify-content: space-between;
}

.buttons-flex-container > button {
    border-radius: 30px;
    background-color: #23da0b;
    color: black;
    border: 2px solid #0040ff;
    padding: 15px 22px;
    margin-bottom: 200px;
}

.buttons-flex-container > button:disabled {
    background-color: gray; /* button background */
    border: 2px solid gray;
}

.back-button {
    margin-left: 50px;
}

.next-button {
    margin-right: 50px;
}

.card-img-top {
    margin-bottom: auto;
    height: auto;
    width: auto;
}

.choose-mood {
    margin-top: 200px;
}

.selected {
    border: 1px solid #23da0b;
    border-width: 2px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.disable-div {
    opacity: 0.5;
}