h1 {
    text-align: center;
}

h2 { 
    text-align: center;
    margin-top: 20px;
}

.card-label {
    text-align: center;
}
.card-body {
    margin-top: 50px;
    background-color: grey;
    border-radius: 15px;
}

#activity-flex-container {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.activityCard {
    background-color: #9794a7;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    font-size: 30px;
}

#mood-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    padding-left: 210px;
    padding-right: 210px;
 
}

.moodCard {
    background-color: #9794a7;
    margin-top: 20px;
    padding: 20px;
    font-size: 30px;
    height: 270px;
    flex: 1 0 15%;
    margin-left: 60px;
    margin-right: 60px;
}

.moodCard > .card-body {
    margin-top: 15px;
    padding: 5px;
}

#adventure-flex-container {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.adventure-activity-card-container {
    background-color: #9794a7;
    height: 200px;
    width: 65%;
}

.refresh-activity {
    text-align: right;
    margin-bottom: 0px;
    width: 100%
}

.adventure-activity-card {
    display: flex;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    height: 190px;
}

.adventure-activity-image {
    margin-top: 5px;
    height: 220px;
    width: auto;
}

.adventure-activity-image > img {
    margin-left: 6px;
    height: 75%;
    width: 60%;
}

.adventure-activity-info {
    margin-left: 20px;
    margin-right: 20px;
}

.business-name {
    font-size: 28px;
    text-align: left;
}

.phone-number, .address {
    font-size: 20px;
    text-align: left;
}

.adventure-google-maps {
    background-image: url("https://www.google.com/images/branding/product/2x/maps_96in128dp.png");
    height: 200px;
    width: 200px;
    margin-bottom: 95px;
}
.adventure-google-maps > p {
    margin-left: 80px;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

.buttons-flex-container {
    display: flex;
    justify-content: space-between;
}

.buttons-flex-container > button {
    border-radius: 30px;
    background-color: #23da0b;
    color: black;
    border: 2px solid #0040ff;
    padding: 15px 22px;
    margin-bottom: 200px;
}

.buttons-flex-container > button:disabled {
    background-color: gray; /* button background */
    border: 2px solid gray;
}

.back-button {
    margin-left: 50px;
}

.next-button {
    margin-right: 50px;
}

.card-img-top {
    margin-bottom: auto;
    height: auto;
    width: auto;
}

.choose-mood {
    margin-top: 200px;
}

.selected {
    border: 1px solid #23da0b;
    border-width: 2px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.disable-div {
    opacity: 0.5;
}