body {
    background-image: linear-gradient(to bottom right, #81B29A, #F4F1DE);
}

.Logo img {
    margin-left: 1em;
    margin-top: 1em; 
    height: auto;
    width: auto;
    max-height: 36px;
    max-width: 250px;
}

.nav-bar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3em;
    background-color: #F4F1DE;
    width: 100%;
    border-bottom: 3px solid black;
    z-index: 4;
}

#nav-elements a {
    color: #3D405B;
    font-size: large;
    font-weight: bold;
}

#nav-elements a:hover {
    color: #81B29A;
}

#nav-elements li {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-right: 0.5em;
}

.our-team h1 {
    color:#81B29A;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 2.5em;
    font-weight: bolder;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    padding: 1em 1em 1em 1em;
    margin-top: 3.5em;
    font-size: 1.5em;
    background-color: #F4F1DE;
    border-radius: 10px
}

.project-info h3{
    color:#81B29A;
    align-self: center;
    font-size: 1.8em;
    font-weight: bolder;
}

.project-info h5 {
    align-self: center;
    padding-bottom: 0.5em;
}
.main{
    background-color:#F4F1DE;
    border-radius: 10px;
    margin: 1em 3em;
    padding: 2em 1em 4em 1em;
}

.about-us-cards-container {
    padding-top: 3em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5em 7em;
}
.card-img-top{
    width: 100%;
    max-height: 80%;
    object-fit: cover;
}

.card{
    text-align: center;
}