/* *
*
* --- Body --- *
*
* */
body{
    /* background-image: linear-gradient(to bottom right, #FFB75E, #f46b45); */
    background-color: #F4F1DE;

}

/*
 *
 *
    Nav Bar
 *
 *
 */
.Logo img {
    margin-left: 1em;
    margin-top: 1em; 
    height: auto;
    width: auto;
    max-height: 40px;
    max-width: 250px;
}

.nav-bar {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    position: fixed;
    width: 100%;
    color: #de7a5f;
    background-color: #F4F1DE;
    border-bottom: 4px solid #bfb3a1
    /* background: red; */
}

#nav-elements a {
    color: black;
    font-size: large;
    font-weight: bold;
    float: right;
}

#nav-elements a:hover {
    color:#81B29A;
}

#nav-elements li {
    margin-right: 0.5em;
}

/*
 *
 *
    Choose Number of Activities Page
 *
 *
 */
#activities-flex-container {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}

.activity-card {
    background-color: #81B29A;
    margin: 30px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    font-size: 30px;
}

/*
 *
 *
    Choose Moods Page
 *
 *
 */
.choose-mood {
    margin-top: 200px;
}

#mood-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.mood-card {
    background-color: #81B29A;
    margin-top: 20px;
    padding: 20px;
    font-size: 30px;
    flex: 1 0 15%;
    margin-left: 8%;
    margin-right: 8%;
}

.mood-card > .card-body {
    margin-top: 15px;
    padding: 5px;
    background-color: #F4F1DE
}



/*
 *
 *
    Choose Number of Activities and Choose Moods back and next buttons
 *
 *
 */
 h1{
    font-family: 'Bungee Shade';font-size: 32px;
     color:#3D405B;
 }
 h2{
    font-family: 'Barlow Semi Condensed';font-size: 22px;
     color:#3D405B;
 }


.buttons-flex-container {
    display: flex;
    justify-content: space-between;
}

.buttons-flex-container > button {
    border-radius: 30px;
    background-color: #81B29A;
    color: #3D405B;
    border: 2px solid #3D405B;
    padding: 15px 22px;
    margin-bottom: 200px;
    font-family: 'Barlow Semi Condensed';font-size: 22px;
}

h5{
    font-family: 'Barlow Semi Condensed';font-size: 22px;
    color:#3D405B; 
}
.buttons-flex-container > button:disabled {
    background-color:#808080; /* button background */
 
}r

.back-button {
    margin-left: 50px;
}

.next-button {
    margin-right: 50px;
}

/*
 *
 *
    Loading Page
 *
 *
 */
#loading-page {
    width: 100%;
    height: 100%;
}

#loading-page > img {
    width: 100%;
    height: 100%;
}
/*
 *
 *
    Final Adventure Page
 *
 *
 */
#adventure-flex-container {
    display: flex;
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.adventure-activity-card-container {
    border-radius: 20px;
    background-color: #81B29A;
    width: 65%;
    line-height: 1;
    margin-top: 20px;
}

.refresh-activity {
    position: absolute;
    right: 17.3%;
    text-align: right;
    margin-bottom: 0px;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
}

.adventure-activity-card {
    display: grid;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.adventure-activity-image {
    grid-column-start: 1;
    grid-row-start: row1-start;
    grid-row-end: row3-end;
}

.adventure-activity-image > img {
    object-fit: contain;
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
}

.adventure-activity-info {
    grid-column-start: 2;
    grid-row-start: row1-start;
    grid-row-end: row3-end;
}

.business-name {
    font-size: 28px;
    text-align: center;
    
}

.phone-number, .address {
    font-size: 20px;
    text-align: center;
}

.adventure-google-maps {
    grid-column-start: 3;
    grid-row-start: row1-start;
    grid-row-end: row3-end;
    cursor: pointer;
    background-image: url("https://www.google.com/images/branding/product/2x/maps_96in128dp.png");
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.adventure-google-maps > p {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    left: 15%;
}

#create-new-adventure-button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1em; 
    font-weight: bold;
    margin: auto;
    margin-bottom: 20%;
    margin-top: 20px;
    margin-left: 17.5%;
}

#create-new-adventure-button:hover {
    background-color: #81B29A;
}

/*
 *
 *
    Universal Styling
 *
 *
 */
h1 {
    padding-top: 72px;
    text-align: center;
}

h2 { 
    text-align: center;
    margin-top: 20px;
}

.card-img-top {
    margin-bottom: auto;
    height: auto;
    width: auto;
}

.card-label {
    text-align: center;
}

.card-body {
    margin-top: 50px;
    background-color: grey;
    border-radius: 15px;
}

.selected {
    border: 1px solid #E07A5F;
    border-width: 5px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
    
}

.disable-div {
    opacity: 0.5;
}

@media screen and (max-width: 640px) {
    #choose-number-of-activities, #choose-mood, #the-adventure {
        padding-top: 1.5em;
    }

    .next-button {
        margin-right: 1em;
    }

    .back-button {
        margin-left: 1em;
    }

    /* #loading-page > img {
        max-width: 100%;
    } */
}