.Logo img {
    margin-left: 1em;
    margin-top: 1em; 
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    
}

#nav-elements a {
    color:#F4F1DE;
    font-size: large;
    font-weight: bold;
}

#nav-elements a:hover {
    color: #81B29A;
  }

#nav-elements li {
    padding: 1.5em;
    margin-right: 0.5em;
}

.home-text {
    margin-top: 10em;
    margin-left: 18em;
    padding-top: 1em;
}

.home-text h1 {
    color:#F4F1DE;
    font-family: 'Bungee Shade';font-size: 42px;
    font-size: 5em;
    font-weight: bold;
}



@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  background-color: #111;
}

.title {
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
}

#explore-campus-text {
  font-family: 'Alfa Slab One';font-size: 42px;
 
  background-image: url(https://media.giphy.com/media/ToMjGpjm9vQhsB4cqVa/giphy.gif
  
  );
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 2em;
  line-height: .75;
  margin: 10px 0;
}
/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #F4F1DE;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
}

.button {
    font-family: 'Barlow Semi Condensed';
    background-color: #F4F1DE;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.button:hover {
    background-color: #81B29A;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/uw-aerial-img.jpeg");
}